{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Musical Quiz
      </h1>

      <p>Test pass data page</p>

<div class="govuk-form-group">

  <form action="/test-input-answers" method="post" class="form">

  {% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    text: "Who are your favourite music artists?",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

  {{ govukInput({
    label: {
      text: 'Artist 1'
    },
    id: "artist-1",
    name: "artist-1",
    autocomplete: "artist-1",
    value: data['artist-1']
  }) }}

  {{ govukInput({
    label: {
      text: 'Artist 2 (optional)'
    },
    id: "artist-2",
    name: "artist-2",
    autocomplete: "artist-2",
    value: data['artist-2']
  }) }}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "what-instrument-is-best",
  name: "what-instrument-is-best",
  fieldset: {
    legend: {
      text: "What instrument is best?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "guitar",
      text: "Guitar",
      checked: checked("what-instrument-is-best", "guitar")
    },
    {
      value: "drums",
      text: "Drums",
      checked: checked("what-instrument-is-best", "drums")
    },
    {
      value: "sax",
      text: "Sax",
      checked: checked("what-instrument-is-best", "sax")
    }
  ]
}) }}

{% endcall %}
</div>


<button class="govuk-button" data-module="govuk-button">Continue</button>

    </div>

  </div>

{% endblock %}
