{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers before sending your application – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Check your answers below
      </h1>

      <h2 class="govuk-heading-m">
        Your music tastes
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Favourite artist 1
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['artist-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/test-input">
              Change <span class="govuk-visually-hidden">artist-1</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Favourite artist 2
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['artist-2'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/test-input">
              Change <span class="govuk-visually-hidden">registration number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Best instrument
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['what-instrument-is-best'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/docs/examples/pass-data/vehicle-type">
              Change <span class="govuk-visually-hidden">vehicle type</span>
            </a>
          </dd>
        </div>

      </dl>

      <p>
        <a href="/docs/tutorials-and-examples">
          Return to tutorials and templates erearaeewf
        </a>
      </p>

    </div>

  </div>

{% endblock %}
